.btn {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    border-radius: 6px;
    transition: all 0.2s ease-out;
    width: fit-content;
    user-select: none;
    cursor: pointer;
}

.btn_primary {
    background-color: #161616;
    color: var(--primary_interactive_font_color);
    border: 2px solid #161616;

    &:hover {
        background-color: transparent;
        color: #161616;

        &:active {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
}

.btn_danger {
    background-color: transparent;
    color: var(--danger_font_color);
    border: 2px solid var(--danger_font_color);

    &:hover {
        background-color: var(--danger_font_color);
        border-color: var(--danger_font_color);
        color: white;

        &:active {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
}