.tasklist_item {
    box-sizing: border-box;
    padding: 6px 6px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-width: 2px;
    border-style: solid;
    width: 100%;
    border-color: black;
    cursor: pointer;

    h4 {
        display: inline;
        max-width: 170px;
        overflow-x: hidden;
        white-space: nowrap;
        margin: 0px;
        user-select: none;
    }

    &.pending {
        background-color: rgb(255, 231, 231);
    }

    &.in_work {
        background-color: rgb(255, 153, 19);
    }

    &.complated {
        background-color: #149300;
    }

    &.archived {
        background-color: rgb(72, 72, 72);
    }

}

.tasklist {
    position: relative;
    padding: 0px;
    margin: 12px 0px;


    li {
        margin-bottom: 12px;
        margin-top: 12px;
    }

    &.with_markers {

        &::after,
        &::before {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            display: block;
            width: 80%;
            height: 1px;
            background-color: rgba(35, 35, 35, 0.2);
        }
    }
}